<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-content">
        <div class="container">
            <div class="logo-container">
                <img src="https://raw.githubusercontent.com/EmyEms/Tela-de-cadastro-findbud/main/logo-removebg.png" alt="Logotipo do App" class="logo">
            </div>

            <div class="form-container">
                <form method="POST">
                    <h2>Editar Perfil</h2>
                    <div class="input-group">
                        <label for="user_name">Nome</label>
                        <input type="text" id="user_name" name="user_name" value="{{ user.user_name }}" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{ user.email }}" required>
                    </div>
                    <button type="submit" class="btn">Salvar Alterações</button>
                </form>

                <a href="{{ url_for('views.visualizar_perfil') }}">
                    <button type="button" class="btn" style="margin-top: 15px;">Cancelar</button>
                </a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 FindBus. Todos os direitos reservados.</p>
        <div class="footer-links">
            <a href="#" id="termsFooter">Termos de Uso</a> | 
            <a href="#" id="privacyFooter">Política de Privacidade</a> | 
            <a href="#" id="contactFooter">Contato</a>
        </div>
    </footer>
</body>
</html>
