<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - FindBus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-content">
        <div class="container">
            <!-- Logotipo à esquerda -->
            <div class="logo-container">
                <img src="https://raw.githubusercontent.com/EmyEms/Tela-de-cadastro-findbud/main/logo-removebg.png" alt="Logotipo do App" class="logo">
            </div>

            <!-- Explicação do Projeto -->
            <div class="form-container">
                <h2>Bem-vindo ao FindBus</h2>
                <p>Com o FindBus, você pode rastrear o transporte público em tempo real.</p>

                <!-- Condição para verificar se o usuário está logado -->
                <div class="input-group" style="text-align: center;">
                    {% if current_user.is_authenticated %}
                        <!-- Se o usuário estiver logado, vai para /horarios -->
                        <a href="/rotas">
                            <button type="button" class="btn">Começar Agora</button>
                        </a>
                    {% else %}
                        <!-- Se o usuário NÃO estiver logado, vai para /login -->
                        <a href="/login">
                            <button type="button" class="btn">Começar Agora</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="footer">
        <p>&copy; 2024 FindBus. Todos os direitos reservados.</p>
        <div class="footer-links">
            <a href="#" id="termsFooter">Termos de Uso</a> | 
            <a href="#" id="privacyFooter">Política de Privacidade</a> | 
            <a href="#" id="contactFooter">Contato</a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
