<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-content">
        <div class="container">
            <div class="logo-container">
                <img src="https://raw.githubusercontent.com/EmyEms/Tela-de-cadastro-findbud/main/logo-removebg.png" alt="Logotipo do App" class="logo">
            </div>

            <div class="form-container">
                <h2>Perfil do Usuário</h2>
                <div class="input-group">
                    <label for="user_name"><strong>Nome:</strong></label>
                    <p>{{ user.user_name }}</p>
                </div>
                <div class="input-group">
                    <label for="email"><strong>Email:</strong></label>
                    <p>{{ user.email }}</p>
                </div>
                <div class="input-group">
                    <label for="data_nascimento"><strong>Data de Nascimento:</strong></label>
                    <p>{{ user.data_nascimento }}</p>
                </div>

                <a href="{{ url_for('views.editar_perfil') }}">
                    <button type="button" class="btn">Editar Perfil</button>
                </a>

                <form action="{{ url_for('views.deletar_perfil') }}" method="POST" style="margin-top: 15px;">
                    <button type="submit" class="btn">Excluir Conta</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 FindBus. Todos os direitos reservados.</p>
        <div class="footer-links">
            <a href="#" id="termsFooter">Termos de Uso</a> | 
            <a href="#" id="privacyFooter">Política de Privacidade</a> | 
            <a href="#" id="contactFooter">Contato</a>
        </div>
    </footer>
</body>
</html>
