<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindBus</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    <header>
        <!-- Perfil do usuário e botões -->
        <div id="user-actions">
            <!-- Botão de visualizar perfil -->
            <a href="{{ url_for('views.visualizar_perfil') }}" class="action-btn">
                <i class="fas fa-user"></i> Perfil
            </a>

            <!-- Botão de logout -->
            <a href="{{ url_for('auth.logout') }}" class="action-btn logout-btn">
                <i class="fas fa-sign-out-alt"></i> Sair
            </a>
        </div>

        <!-- Título da página com o ícone de ônibus -->
        <h1><i class="fas fa-bus"></i> FindBus</h1>

        <!-- Seletor de rota e botões -->
        <div id="route-selector"> 
            <select id="route-select">
                <option value="">Selecione uma rota</option>
                <option value="rota1">Unievangelica</option>
                <option value="rota2">Parque Ipiranga</option>
                <option value="rota3">Brasil Park Shopping</option>
            </select>
            <button id="confirm-route-btn">Confirmar Rota</button>
            <a href="/horarios">
                <button id="view-schedule-btn">Ver Horários</button>
            </a>
        </div> 
    </header>

    <!-- Div onde o mapa será exibido -->
    <div id="map"></div>

    <!-- Rodapé -->
    <footer>
        <p>&copy; 2024 FindBus. Todos os direitos reservados.</p>
    </footer>

    <!-- Scripts do Leaflet e da lógica da página -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
