/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body */
body {
    font-family: Arial, sans-serif;
    background-color: #71af8d; /* Cor de fundo em verde pastel */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Configuração básica da página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b4ddb8; /* Cor de fundo em verde pastel */
}

/* Estilo do cabeçalho */
header {
    background-color: #b4ddb8; /* Verde pastel para o fundo do cabeçalho */
    color: white;
    padding: 10px 20px; /* Reduz o padding para diminuir o tamanho do cabeçalho */
    position: relative;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna para criar espaçamento entre os itens */
    justify-content: center;
    align-items: center;
}

/* Estilo do título no cabeçalho */
header h1 {
    font-size: 30px; /* Reduz o tamanho da fonte */
    margin: 0;
    padding-bottom: 10px; /* Adiciona espaçamento entre o título e os botões */
    display: flex;
    align-items: center;
}

/* Estilo da imagem de perfil */
#user-profile {
    position: absolute;
    top: 10px; /* Ajusta a posição da imagem de perfil */
    left: 10px;
    display: flex;
    align-items: center;
}

#profile-display {
    width: 40px; /* Reduz o tamanho da imagem de perfil */
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #fff;
}

#profile-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo do seletor de rotas e botões */
#route-selector {
    margin-top: 10px; /* Diminui o espaçamento superior */
    display: flex;
    gap: 15px; /* Espaçamento entre os botões e o seletor */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#route-select {
    padding: 8px 15px; /* Reduz o padding para diminuir o tamanho */
    font-size: 14px; /* Reduz o tamanho da fonte */
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

/* Estilo geral para os botões */
button {
    padding: 8px 15px; /* Reduz o padding para diminuir o tamanho */
    font-size: 14px; /* Reduz o tamanho da fonte */
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Estilo do botão "Confirmar Rota" */
#confirm-route-btn {
    background-color: #417e56;
}

#confirm-route-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

/* Estilo do botão "Ver Horários" */
#view-schedule-btn {
    background-color: #417e56;
}

#view-schedule-btn:hover {
    background-color: #1d3d28;
    transform: scale(1.05);
}

/* Estilo do mapa */
#map {
    flex-grow: 1;
    width: 95%;
    margin: 2%;
    padding: 14% 0;
    box-shadow: 0 0 10px rgba(78, 74, 74, 0.1); /* Sombra ao redor do mapa */
}

/* Estilo do rodapé */
footer {
    background-color: #637c65; /* Verde pastel escuro para o rodapé */
    color: white;
    text-align: center;
    padding: 30px 0; /* Reduz o padding do rodapé */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    margin: 10px 0;
    font-size: 18px;
}

/* Estilo dos ícones sociais no rodapé */
footer .social-icons {
    margin-top: 20px;
}

footer .social-icons a {
    margin: 0 15px;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ccc; /* Cinza claro ao passar o mouse nos ícones */
}

/* Estilos para a estrutura principal */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1000px; /* Largura máxima da área contendo logo e formulários */
}

.logo-container {
    width: 50%; /* Ocupa 50% da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 80%; /* Define a largura máxima do logotipo */
    height: auto;
}

.form-container {
    width: 50%; /* Ocupa os outros 50% da tela */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
}

.btn {
    padding: 10px;
    background-color: #9cd9b7; /* verde pastel */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #63aa83; /* Um tom mais escuro de verde pastel ao passar o mouse */
}

#createAccountDiv {
    text-align: center;
    margin-top: 20px;
}

#createAccountButton {
    margin-top: 10px;
}

/* Ajustando o alinhamento preciso da checkbox */
.input-group-checkbox {
    display: inline-flex;
    align-items: center;
}

.input-group-checkbox input[type="checkbox"] {
    margin-right: 5px; /* Reduzindo o espaço entre o checkbox e o texto */
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#modalText {
    font-size: 16px;
    color: #333;
}

/* Estilos para o perfil do usuário e botões no cabeçalho */

/* Seção que contém a imagem de perfil, botão de visualizar perfil e logout */
#user-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os itens */
}

/* Botão de ação (visualizar perfil e logout) */
.action-btn {
    display: flex;
    align-items: center;
    background-color: #417e56;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-btn:hover {
    background-color: #218838;
}

/* Botão de logout */
.logout-btn {
    background-color: #e74c3c; /* Cor vermelha para o botão de logout */
}

.logout-btn:hover {
    background-color: #c0392b; /* Tom mais escuro ao passar o mouse */
}

/* Estilo da imagem de perfil 
#user-profile {
    display: flex;
    align-items: center;
}

#profile-display {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #fff;
}

#profile-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
